[pylint]
disable=
    import-error,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    possibly-used-before-assignment,
    redefined-outer-name,
    too-many-return-statements,
    unused-import,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
